body {
	background-color: white;
}


#whoslooking-onlookers-list {
	padding: 0;
}

.whoslooking-displayname {
	line-height: 24px;
	padding: 2px 30px 2px 5px;
	position: relative;
	vertical-align: middle;	
}

.whoslooking-avatar {
	border-radius: 3px;
	vertical-align: middle;
}