@(hostId: String, resourceId: String, userId: String)

@import play.mvc.Http.Context.Implicit.ctx
@import com.atlassian.connect.play.java.AcHost
@import play.api.Play

@defining(ctx.args("ac_host").asInstanceOf[AcHost].getBaseUrl()) { baseUrl =>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="pollIntervalSeconds" content="@Play.current.configuration.getString("whoslooking.poller-interval.seconds")" />
    <meta name="avatarSize" content="@Play.current.configuration.getString("whoslooking.avatar-size")" />
    <meta name="hostId" content="@hostId" />    
    <meta name="resourceId" content="@resourceId" />
    <meta name="userId" content="@userId" />
    <meta content="IE=EDGE" http-equiv="X-UA-Compatible" />
    <meta name="hostBaseUrl" content="@baseUrl" />
    @ac.aui.all("5.1")
    <script type="text/javascript" src="@baseUrl/remotable-plugins/all.js"></script>    
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
    <link rel="stylesheet" type="text/css" href="@baseUrl/remotable-plugins/all.css"/>
  </head>
  <body>
    <div class="aui-message hint">
      <p>
        <span class="aui-icon icon-hint "></span>
        Please <a target="_parent" href="@baseUrl/login.jsp?os_destination=%2Fsecure%2FViewIssue.jspa%3Fid%3D@resourceId">log in to JIRA</a> to see who else is looking at this issue.
      </p>
    </div>    
  </body>
</html>
}