@(hostId: String, resourceId: String, userId: String)

@import play.mvc.Http.Context.Implicit.ctx
@import com.atlassian.connect.play.java.AcHost
@import play.api.Play

@defining(ctx.args("ac_host").asInstanceOf[AcHost].getBaseUrl()) { baseUrl =>
<!DOCTYPE html>
<html lang="en">
  <head>
    @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingHeader())
    <meta charset="utf-8" />
    <meta version="@utils.VersionUtils.VERSION" />
    <meta name="pollIntervalSeconds" content="@Play.current.configuration.getString("whoslooking.poller-interval.seconds")" />
    <meta name="avatarSize" content="@Play.current.configuration.getString("whoslooking.avatar-size")" />
    <meta name="hostId" content="@hostId" />    
    <meta name="resourceId" content="@resourceId" />
    <meta name="userId" content="@userId" />
    <meta content="IE=EDGE" http-equiv="X-UA-Compatible" />
    <meta name="hostBaseUrl" content="@baseUrl" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/7.6.0/aui/css/aui.min.css" media="all">
    <script src="//cdnjs.cloudflare.com/ajax/libs/aui/7.6.0/aui/js/aui.min.js"></script>
    <script type="text/javascript" src="https://connect-cdn.atl-paas.net/all.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/js/aui.js"></script>
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/js/aui-ie.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="//d1cq5befmb1l41.cloudfront.net/v1/main.css" />

  </head>
  <body>
    <div class="aui-message hint">
      <p id="whoslooking-anonymous">
        <span class="aui-icon icon-hint "></span>
        Please <a id="whoslooking-anonymous-login-link" target="_parent" href="@baseUrl/login.jsp?os_destination=%2Fbrowse%2F@resourceId">log in to JIRA</a> to see who else is looking at this issue.
      </p>
    </div>    
  </body>
  @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingFooter())
</html>
}
