@import play.mvc.Http.Context.Implicit.ctx
@import com.atlassian.connect.play.java.AcHost
@import play.api.Play

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="poller-interval-seconds" content="@Play.current.configuration.getString("whoslooking.poller-interval.seconds")" />
	<meta name="avatar-size" content="@Play.current.configuration.getString("whoslooking.avatar-size")" />
    <meta content="IE=EDGE" http-equiv="X-UA-Compatible" />
    @ac.aui.all("5.1")
	
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="@routes.Assets.at("third-party/purl.js")"></script>    
  </head>

<body class="aui-page-fixed" id="aui-flatpack">
    <div id="page">
        <header id="header">
            <nav class="aui-header aui-dropdown2-trigger-group">
                <div class="aui-header-inner aui-header-primary">
                    <h1 class="aui-header-logo aui-header-logo-aui" id="logo"><span>Who's Looking? &nbsp; <sup><small class="aui-lozenge">beta</small></sup></span></h1>
                </div><!-- .aui-header-inner-->
            </nav><!-- .aui-header -->
        </header><!-- #header -->

        <section id="content">
            <div class="aui-page-panel">
                <div class="aui-page-panel-inner">
                    <section class="aui-page-panel-content">
                        <p><em>Who's Looking?</em> is an Atlassian Connect add-on that can show you who else is looking at a JIRA issue.</p>
                        <ul>
                            <li>Install <em>Who's Looking?</em> on your OnDemand instance via Atlassian Marketplace. <span class="aui-lozenge aui-lozenge-success">Coming Soon!</span></li>
                            <li><a href="https://bitbucket.org/atlassianlabs/whoslooking-connect">Read more about <em>Who's Looking?</em></a></li>                        
                            <li><a href="https://developer.atlassian.com/display/AC/Atlassian+Connect">Read more about Atlassian Connect.</a></li>
                        </ul>
                        <img src="//i.imgur.com/nNarePB.jpg" />

                    </section><!-- .aui-page-panel-content -->
                </div><!-- .aui-page-panel-inner -->
            </div><!-- .aui-page-panel -->
        </section><!-- #content -->

        <footer id="footer">
            <section class="footer-body">
                <ul id="aui-footer-list">
                    <li>Copyright &copy; 2009-2013 Atlassian</li>
                </ul>
            </section>
        </footer><!-- #footer -->
    </div><!-- #page -->
</body>
</html>
