@(viewersWithDetails: String, resourceId: String)

@import play.mvc.Http.Context.Implicit.ctx
@import com.atlassian.connect.play.java.AcHost

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="poller-interval-seconds" content="10" />
    <meta name="unknown-avatar-url" content="@routes.Assets.at("/images/unknown-avatar-32x32.png")" />
	<meta name="resourceId" content="@resourceId" />
    <meta content="IE=EDGE" http-equiv="X-UA-Compatible" />
    <link rel="stylesheet" href="@routes.Assets.at("aui/css/aui-all.css")" media="all" />
    <!--[if lt IE 9]><link rel="stylesheet" href="@routes.Assets.at("aui/css/aui-ie.css")" media="all"><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" href="@routes.Assets.at("aui/css/aui-ie9.css")" media="all"><![endif]-->
    <script src="@routes.Assets.at("aui/js/aui-all.js")"></script>
    <!--[if lt IE 9]><script src="@routes.Assets.at("aui/js/aui-ie.js")"></script><![endif]-->
	
    <script src="@routes.Assets.at("third-party/jquery-2.0.1.min.js")"></script>
    <script src="@routes.Assets.at("third-party/purl.js")"></script>    
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
    @defining(ctx.args("ac_host").asInstanceOf[AcHost].getBaseUrl()) { baseUrl =>
        <script type="text/javascript" src="@baseUrl/remotable-plugins/all.js"></script>
        <link rel="stylesheet" type="text/css" href="@baseUrl/remotable-plugins/all.css"/>
	}
  </head>
  <script>
  $(function() {
	  	// @viewersWithDetails
	  	var viewers = @Html(viewersWithDetails);
	  
	  	var pollInterval = $('meta[name=poller-interval-seconds]').attr("content") * 1000;
	  	var userId = $.url().param('user_id');
  	  	var hostId = encodeURIComponent($.url().param('oauth_consumer_key'));
  	    var resourceId = $('meta[name=resourceId]').attr("content");
  	  	console.log("extracted", userId, hostId, resourceId);
  	  	
  	  	var poll = function() {
	  	   $.ajax({
	  	     url: '/viewables/'+ hostId +'/'+ resourceId +'/viewers?hostId_for_unicorn='+hostId,	  	     
	  	     type: 'PUT',
	  	   	 contentType: 'application/json',
	  	     data: JSON.stringify({ name: userId }),
	  	     success: function(data) {
	  	         renderUserList(data);
	  	     }
	  	   });
  	  	}
  	  
  	  	var renderUserList = function(users) {
			
			var onlookersList = $('<ul>').addClass('whoslooking-onlookers-list').attr('id', 'whoslooking-onlookers-list');
			
			$.each(users, function(name, details) {
				if (detailsString) {
					var avatarUrl = details.avatarUrls["32x32"];
					var displayName = details.displayName;
				} else {
					var avatarUrl = $('meta[name=unknown-avatar-url]').attr("content");
					var displayName = name;				
				}
				
    	        var userListItem = $('<li>');
    	        var userFullName = $('<span>').text(displayName).addClass('whoslooking-fullname');
    	    	var avatar = $('<img>').attr('src', avatarUrl).addClass('whoslooking-avatar');
    	    	userListItem.append(avatar).append(userFullName);
    	    	onlookersList.append(userListItem);
				
			});
			
	    	$('#whoslooking-onlookers-list').replaceWith(onlookersList);
	    	AP.resize();
  	  	}  	  	
  	  	
  	    if (userId && hostId && resourceId) {
	  	  	window.onbeforeunload = function() {
	  	    	$.ajax({
		  	    	url: '/viewables/'+ hostId +'/'+ resourceId +'/viewers/'+ userId + '?hostId_for_unicorn='+hostId,
		  	     	type: 'DELETE'
	  	    	});
	  	  	}  	        
  	        //poll();
		  	//setInterval(poll, pollInterval);
  		}
		
		renderUserList(viewers);
		
	  	
  });
	
  </script>
  <body>
    <div id="whoslooking-onlookers">
    	<ul  id="whoslooking-onlookers-list"></ul>
    </div>
  </body>
</html>