@(viewersWithDetails: String, hostId: String, resourceId: String, userId: String, perPageViewToken: String)

@import play.mvc.Http.Context.Implicit.ctx
@import com.atlassian.connect.play.java.AcHost
@import play.api.Play
@import com.atlassian.connect.play.java.AC


<!DOCTYPE html>
<html lang="en">
  <head>
    @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingHeader()) 
    <meta charset="utf-8" />
    <meta version="@utils.VersionUtils.VERSION" />
    <meta name="pollIntervalSeconds" content="@Play.current.configuration.getInt(utils.Constants.POLLER_INTERVAL_SECONDS).getOrElse(utils.Constants.POLLER_INTERVAL_SECONDS_DEFAULT)" />
    <meta name="avatarSize" content="@Play.current.configuration.getInt(utils.Constants.AVATAR_SIZE_PX).getOrElse(utils.Constants.AVATAR_SIZE_PX_DEFAULT)" />
    <meta name="hostId" content="@hostId" />    
    <meta name="resourceId" content="@resourceId" />
    <meta name="userId" content="@userId" />
    @if(AC.getToken.isDefined) {
      <meta name="acpt" content="@AC.getToken.get">
    }
    <meta content="IE=EDGE" http-equiv="X-UA-Compatible" /> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui.css" media="all">
    <!--[if lt IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui-ie.css" media="all"><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui-ie9.css" media="all"><![endif]-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/js/aui.js"></script>
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/js/aui-ie.js"></script><![endif]-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/visibility.js/0.6.2/visibility.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
    @defining(ctx.args("ac_host").asInstanceOf[AcHost].getBaseUrl()) { baseUrl =>
        <meta name="hostBaseUrl" content="@baseUrl" />
        <script type="text/javascript" src="@baseUrl/atlassian-connect/all.js"></script>
        <link rel="stylesheet" type="text/css" href="@baseUrl/atlassian-connect/all.css"/>        
    }
  <script type="text/javascript" src="@com.atlassian.connect.play.java.controllers.routes.AcController.asset("js/pagetoken.js")"></script>

  </head>
  <script>
    $(function() {
      var getMeta = function(name) { return $('meta[name='+name+']').attr("content") }
      var pollInterval = getMeta('pollIntervalSeconds') * 1000;
      var avatarSize = getMeta('avatarSize');
      var hostBaseUrl = getMeta('hostBaseUrl');
      var hostId = getMeta('hostId');
      var resourceId = getMeta('resourceId');      
      var userId = getMeta('userId');
      var perPageViewToken = getMeta('perPageViewToken');
      var pollUrl = '/viewables/'+ encodeURIComponent(hostId) +'/'+ encodeURIComponent(resourceId) +'/viewers/'+ encodeURIComponent(userId);
      $.ajaxSetup({ headers: { "@utils.Constants.PER_PAGE_VIEW_TOKEN_HEADER" : perPageViewToken } });
        
      var poll = function() {
        Visibility.hidden() || $.ajax({
          url: pollUrl,               
          type: 'PUT',
          success: function(data) {
            renderViewerList(data);
          }
        });
      }

      var stopViewing = function() {
        $.ajax({
          url: pollUrl,
          type: 'DELETE'
        });
      } 

      var renderedViewers;
      var renderViewerList = function(viewers) {
            
        //hacky deep equals, doesn't matter too much if we get false negatives due to ordering etc...
        if (JSON.stringify(viewers) == JSON.stringify(renderedViewers)) {
          return;
        }

        var viewerList = $('<p>').addClass('whoslooking-onlookers-list').attr('id', 'whoslooking-onlookers-list');
        $.each(viewers, function(name, details) {
          var avatarUrl = hostBaseUrl+"/secure/useravatar?ownerId="+name;
          var displayName = (details && details.displayName) ? details.displayName : name;
          var viewerListItem = $('<p>');
          var userDisplayName = $('<span>').text(displayName).addClass('whoslooking-displayname');
          if (details && details.lastSeen) {
            viewerListItem.attr('title', moment.utc(details.lastSeen).fromNow());
          }
          var avatar = $('<img>').attr('width', avatarSize + 'px').attr('height', avatarSize + 'px').attr('src', avatarUrl).addClass('whoslooking-avatar');
          viewerListItem.append(avatar).append(userDisplayName);
          viewerList.append(viewerListItem);
        });
      
        $('#whoslooking-onlookers-list').replaceWith(viewerList);
        renderedViewers = viewers;
      }            
            
      if (userId && hostId && resourceId) {
        window.onbeforeunload = stopViewing;
        setInterval(poll, pollInterval);
        Visibility.change(function (e, state) { poll(); });
        renderViewerList(@Html(viewersWithDetails));        
      }
  });
    
  </script>
  <body>
    <div id="whoslooking-onlookers" class="ac-content">
        <ul id="whoslooking-onlookers-list"></ul>
    </div>
    @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingFooter())    
  </body>
</html>
