@(viewersWithDetails: String, hostId: String, resourceId: String, userId: String)

@import play.mvc.Http.Context.Implicit.ctx
@import com.atlassian.connect.play.java.AcHost
@import play.api.Play
@import com.atlassian.connect.play.java.AC

@defining(ctx.args("ac_host").asInstanceOf[AcHost].getBaseUrl()) { baseUrl =>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta version="@utils.VersionUtils.VERSION" />
    <meta name="pollIntervalSeconds" content="@Play.current.configuration.getInt(utils.Constants.POLLER_INTERVAL_SECONDS).getOrElse(utils.Constants.POLLER_INTERVAL_SECONDS_DEFAULT)" />
    <meta name="avatarSize" content="@Play.current.configuration.getInt(utils.Constants.AVATAR_SIZE_PX).getOrElse(utils.Constants.AVATAR_SIZE_PX_DEFAULT)" />
    <meta name="hostId" content="@hostId" />    
    <meta name="resourceId" content="@resourceId" />
    <meta name="userId" content="@userId" />
    @if(AC.getToken.isDefined) {
      <meta name="acpt" content="@AC.getToken.get">
    }
    <meta content="IE=EDGE" http-equiv="X-UA-Compatible" /> 
    @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingHeader())
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sinon.js/1.15.4/sinon.min.js"></script>
    <script src="//unpkg.com/@@atlassian/aui@@7.6.0/dist/aui/js/aui.min.js"></script>
    <script src="//unpkg.com/@@atlassian/aui@@7.6.0/dist/aui/js/aui-experimental.min.js"></script>
    <script src="//unpkg.com/@@atlassian/aui@@7.6.0/dist/aui/js/aui-datepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//unpkg.com/@@atlassian/aui@@7.6.0/dist/aui/css/aui.min.css"/>
    <link rel="stylesheet" type="text/css" href="//unpkg.com/@@atlassian/aui@@7.6.0/dist/aui/css/aui-experimental.min.css"/>
    <link rel="stylesheet" type="text/css" href="//d1cq5befmb1l41.cloudfront.net/v1/main.css" />
    <meta name="hostBaseUrl" content="@baseUrl" />
  </head>
  <body>
    <div id="whoslooking-onlookers" class="ac-content">
        <ul id="whoslooking-onlookers-list"></ul>
    </div>
    @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingFooter())
  </body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/visibility.js/0.6.2/visibility.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/sha1.js"></script>
  <script type="text/javascript" src="//d1cq5befmb1l41.cloudfront.net/v1/pagetoken.js"></script>
  <script type="text/javascript" src="https://connect-cdn.atl-paas.net/all.js"></script>
  <script>
    $(function() {
      var getMeta = function(name) { return $('meta[name='+name+']').attr("content") }
      var pollInterval = getMeta('pollIntervalSeconds') * 1000;
      var avatarSize = getMeta('avatarSize');
      var hostBaseUrl = getMeta('hostBaseUrl');
      var hostId = getMeta('hostId');
      var resourceId = getMeta('resourceId');      
      var userId = getMeta('userId');
      var userHash = CryptoJS.SHA1(userId);
      var pollUrl = '/viewables/'+ encodeURIComponent(hostId) +'/'+ encodeURIComponent(resourceId) +'/viewers/'+ encodeURIComponent(userHash);

      var poll = function() {
        Visibility.hidden() || $.ajax({
          url: pollUrl,               
          type: 'PUT',
          success: function(data) {
            renderViewerList(data);
          }
        });
      }

      var stopViewing = function() {
        $.ajax({
          url: pollUrl,
          type: 'DELETE'
        });
      } 

      var renderedViewers;
      var renderViewerList = function(viewers) {
            
        //hacky deep equals, doesn't matter too much if we get false negatives due to ordering etc...
        if (JSON.stringify(viewers) == JSON.stringify(renderedViewers)) {
          return;
        }

        var viewerList = $('<p>').addClass('whoslooking-onlookers-list').attr('id', 'whoslooking-onlookers-list');
        var unresolvedDisplayNames = false;
        $.each(viewers, function(accountId, details) {
          var avatarUrl = hostBaseUrl+"/secure/useravatar?ownerId="+encodeURIComponent(accountId);

          var userId = (details && details.displayName) ? details.displayName : accountId;
            var viewerListItem = $('<p>');
          var userLink = $('<a>').attr('href', hostBaseUrl+"/people/"+encodeURIComponent(accountId)).attr('target','_parent');
          var avatar = $('<img>').attr('width', avatarSize + 'px').attr('height', avatarSize + 'px').attr('src', avatarUrl).addClass('whoslooking-avatar');

          if (userId != accountId) {
              // Looks like we've found a display name
              var userDisplayName = $('<span>').text(details.displayName).addClass('whoslooking-displayname');
              viewerListItem.append(avatar).append(userDisplayName);
              userDisplayName.wrap(userLink);
          } else {
              var userDisplayName = $('<span>').text(accountId).addClass('whoslooking-displayname');
              viewerListItem.append(avatar).append(userDisplayName);
              userDisplayName.wrap(userLink);
              viewerListItem.append('<small>(*)</small>');
              unresolvedDisplayNames = true;
          }

          viewerList.append(viewerListItem);
        });

        if (unresolvedDisplayNames) {
            viewerList.append('<small> <p>(*) In compliance with GDPR, Jira no longer sends users\' full names to add-ons. Who\'s Looking will try to get them from Jira, but may fail if the user\'s settings disallow this.</p> </small>');
        }
        $('#whoslooking-onlookers-list').replaceWith(viewerList);
        AP.resize();
        renderedViewers = viewers;

      }            
            
      if (userId && hostId && resourceId) {
        window.onbeforeunload = stopViewing;
        setInterval(poll, pollInterval);
        Visibility.change(function (e, state) { poll(); });
        renderViewerList(@Html(viewersWithDetails));        
      }
  });
  </script>  
</html>
}